In [2]:
import numpy as np
import pandas as pd

## pandas data Series

In [3]:

my_index = ['USA', 'Canada', 'Mexico']
my_data  = [1776, 1867, 1890]

In [4]:
my_ser = pd.Series(data = my_data)
my_ser

0    1776
1    1867
2    1890
dtype: int64

In [5]:
my_ser = pd.Series(data = my_data, index = my_index)
my_ser

USA       1776
Canada    1867
Mexico    1890
dtype: int64

In [14]:
my_ser.iloc[0]

np.int64(1776)

In [7]:
my_ser['USA']

np.int64(1776)

In [13]:
py_dict = {1: 'Geeks', 2: 'For', 3: 'Geeks'}
pd.Series(py_dict)

1    Geeks
2      For
3    Geeks
dtype: object

In [16]:
ran_data = np.random.randint(0,100,4)
ran_data

array([70, 86, 82, 60])

In [17]:
names = ['Andrew','Bobo','Claire','David']
ages = pd.Series(ran_data,names)
ages

Andrew    70
Bobo      86
Claire    82
David     60
dtype: int64

# Key Ideas of a Series

## Named Index

In [19]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [20]:
# Convert into Pandas Series
sales_Q1 = pd.Series(q1)
sales_Q2 = pd.Series(q2)

In [21]:
# Call values based on Named Index
sales_Q1['Japan']

np.int64(80)

In [23]:
# Integer Based Location information also retained!
sales_Q1.iloc[0]

np.int64(80)

## Operations