imports

In [1]:
import pandas as pd

# tow different dimensio data frame comparison

In [10]:
# Example DataFrames with different row numbers
df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df2 = pd.DataFrame({'A': [1, 2], 'B': [4, 8]})
print(df1.shape, df2.shape)
df1

(3, 2) (2, 2)

   A  B
0  1  4
1  2  5
2  3  6

In [3]:
df2

   A  B
0  1  4
1  2  8

* Reindexing: <br>
`df2_reindexed = df2.reindex(df1.index)`
aligns the indices of `df2` with `df1`. <br> This fills the missing rows with `NaN` in `df2`.

In [5]:
# Reindex df2 to match df1's index
df2_reindexed = df2.reindex(df1.index)
df2_reindexed

     A    B
0  1.0  4.0
1  2.0  8.0
2  NaN  NaN

In [9]:
# Compare df1 and reindexed df2
comparison = df1.compare(df2_reindexed, keep_shape=True, keep_equal=True, result_names=('current', 'new'))
comparison

        A            B
  current  new current  new
0       1  1.0       4  4.0
1       2  2.0       5  8.0
2       3  NaN       6  NaN