imports

In [1]:
import pandas as pd

# tow different dimensio data frame comparison

In [10]:
# Example DataFrames with different row numbers
df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df2 = pd.DataFrame({'A': [1, 2], 'B': [4, 8]})
print(df1.shape, df2.shape)
df1

(3, 2) (2, 2)

   A  B
0  1  4
1  2  5
2  3  6

In [3]:
df2

   A  B
0  1  4
1  2  8

* Reindexing: <br>
`df2_reindexed = df2.reindex(df1.index)`
aligns the indices of `df2` with `df1`. <br> This fills the missing rows with `NaN` in `df2`.

In [5]:
# Reindex df2 to match df1's index
df2_reindexed = df2.reindex(df1.index)
df2_reindexed

     A    B
0  1.0  4.0
1  2.0  8.0
2  NaN  NaN

In [9]:
# Compare df1 and reindexed df2
comparison = df1.compare(df2_reindexed, keep_shape=True, keep_equal=True, result_names=('current', 'new'))
comparison

        A            B
  current  new current  new
0       1  1.0       4  4.0
1       2  2.0       5  8.0
2       3  NaN       6  NaN

In [ ]:
# do some extra info

# replace "" (empty str)  with None

In [1]:
import pandas as pd
import numpy as np

# Sample DataFrame with some empty string cells
data = {'A': ['John', '', 'Mike'], 'B': ['Data1', '', 'Data3']}
df = pd.DataFrame(data)

# Replace empty strings with None (which is equivalent to np.nan in pandas)
df.replace("", None, inplace=True)

# Display the DataFrame
print(df)

      A      B
0  John  Data1
1  None   None
2  Mike  Data3

## restructure nested dictionary to pandas dataframe

In [1]:
import pandas as pd

# Sample dictionary
data = {
    'name1': [
        ['col1', 'col2', 'col3'],
        [1, 2, 3],
        [4, 5, 6]
    ],
    'name2': [
        ['col1', 'col2', 'col3'],
        [10, 20, 30],
        [40, 50, 60]
    ]
}
data

{'name1': [['col1', 'col2', 'col3'], [1, 2, 3], [4, 5, 6]],
 'name2': [['col1', 'col2', 'col3'], [10, 20, 30], [40, 50, 60]]}

In [2]:
# Initialize an empty list to store the rows
rows = []

# Loop through the dictionary and build the rows
for name, values in data.items():
    columns = values[0]  # The column names (first list)
    for row_values in values[1:]:  # All remaining lists are row values
        row = [name] + row_values  # Add the name as the first column
        rows.append(row)

# Create a DataFrame with the name as the first column
df = pd.DataFrame(rows, columns=['Name'] + columns)

df

    Name  col1  col2  col3
0  name1     1     2     3
1  name1     4     5     6
2  name2    10    20    30
3  name2    40    50    60